* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}
main {
  padding-top: 6rem;
  max-width: 50%;
  margin: 0 auto;
}
h1 {
  white-space: pre-wrap;
  color: rgba(255, 255, 255, 0.81);
  padding: 3px 2px;
  margin: 0px;
  margin-bottom: 5px;
}
.twitter-notes {
  background-color: rgb(36, 35, 35);
  color: rgba(255, 255, 255, 0.81);
  height: 70px;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
}
.twitter-link,
.notes-link {
  color: inherit;
  background-color: rgb(36, 35, 35);
  text-decoration: none;
}

.twitter-link:hover,
.notes-link:hover {
  text-decoration: underline;
}
.space {
  padding: 0 10px;
  color: inherit;
  background-color: rgb(36, 35, 35);
}

.email-div {
  width: 100%;
  caret-color: rgba(255, 255, 255, 0.81);
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.443);
  padding-top: 6px;
  padding-bottom: 6px;
}
h3 {
  max-width: 100%;
  word-break: break-word;
  caret-color: rgba(255, 255, 255, 0.81);
  padding: 3px 2px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-top: 5%;
}
a {
  text-decoration: none;
}

.content-div,
.subscribe-div {
  max-width: 100%;
  caret-color: rgba(255, 255, 255, 0.81);
  padding: 1px 1px;
  font-size: 16px;
  line-height: 1.5;
}
.content-div p {
  padding: 5px 2px;
}

.content-div a {
  cursor: pointer;
  color: rgba(155, 155, 155, 1);
  word-wrap: break-word;
  fill: rgba(155, 155, 155, 1);
}
.subscribe-div a {
  cursor: pointer;
  color: rgba(155, 155, 155, 1);
  word-wrap: break-word;
  fill: rgba(155, 155, 155, 1);
  text-decoration: underline;
}
.subscribe-div {
  margin-top: 2rem;
}

.info-div {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  max-width: 100%;
  word-break: break-word;
  color: rgba(155, 155, 155, 1);
  fill: rgba(155, 155, 155, 1);
  margin-top: 3.5rem;
  line-height: 27px;
  padding-bottom: 8rem;
}

strong {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.81);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
  "Segoe UI Symbol";
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 80%;
  }
}
